<header style="background-color: white">
        <h3>My movies</h3>
</header>



<div class="container-fluid welcome">
    <div class="col-md-6">
    </div>

    <div class="col-md-2">
    </div>

    <div class="col-md-2">
        <div class="btn  btn-lg"  ng-click="openPage()">Add Review!</div>
    </div>

    <div class="col-md-2"></div>

    <div class="col-md-6"></div>
    <div class="col-md-2">
    </div>

    <div class="col-md-2">
        <div class="btn  btn-lg"  ng-click="getPage()">Get Review!</div>
    </div>
    <div class="col-md-2">
    </div>
</div>

